<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Category</th>
          <th scope="col">App</th>
          <th scope="col">User Name</th>
          <th scope="col">Password</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let i of passwordData">
          <th>{{ i.id }}</th>
          <td>{{ i.userName }}</td>
          <td>{{ i.app }}</td>
          <td>{{ i.category }}</td>
          <td>{{ i.userPassword }}</td>
          <td>
            <button class="btn btn-success" (click)="handleEditClick(i.id)">
              Edit
            </button>
            <button class="btn btn-danger" (click)="handleDeleteClick(i.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form
        #userPasswordForm="ngForm"
        (ngSubmit)="onSubmit(userPasswordForm.value)"
      >
        <label>User Name</label>
        <input
          class="form-control form-control-sm"
          type="text"
          placeholder="User Name"
          name="userName"
          ngModel
          required
        />
        <br />
        <label>App</label>
        <input
          class="form-control form-control-sm"
          type="text"
          name="app"
          placeholder="App"
          ngModel
          required
        />
        <br />
        <label>Category</label>
        <input
          class="form-control form-control-sm"
          type="text"
          name="category"
          placeholder="Category"
          ngModel
          required
        />
        <br />
        <label>Password</label>
        <input
          class="form-control form-control-sm"
          type="text"
          name="userPassword"
          placeholder="Password"
          ngModel
          required
        />
        <br />
        <input
          class="btn btn-success"
          type="submit"
          value="{{ editMode ? 'Update Password' : 'Add New Password' }}"
        />
      </form>
    </div>
  </div>
</div>
